@use "./helpers/" as *;

/* ============================================= Header ============================================== */
header {
	@include flex(space-between, center);
	@include fixed(tl, 0, 0);
	background: transparent;
	color: get(white);
	width: 100vw;
	padding: 20px;
	z-index: 1000;
	&.Active {
		background: get(dark-bg);
		box-shadow: get(box-shadow);
	}
	.fa {
		display: none;
		@include width(xmd) {
			display: inline-block;
		}
		@include width(sm) {
			font-size: 14px;
		}
	}
	.logo {
		@include flex(auto, center);
		gap: 1rem;
		img {
			width: 30px;
			@include width(sm) {
				width: 20px;
			}
		}
		h2 {
			color: get(white);
			font-size: 2.5rem;
			margin-bottom: 0;
			@include width(sm) {
				font-size: 2rem;
			}
		}
	}
	nav {
		@include width(xmd) {
			@include absolute(tl, 100%, auto);
			background: get(dark-bg);
			width: 100%;
			clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 0, 0 0);
		}
		&.Active {
			clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
		}
		a {
			color: get(light-text);
			font-size: 1.6rem;
			padding: 0 20px;
			position: relative;
			@include width(xmd) {
				width: fit-content;
				margin: 20px 50px;
				display: block;
			}
			&.Active {
				color: get(main-color);
				font-weight: bold;
				&::before {
					width: 100%;
					opacity: 1;
				}
			}
			&:hover {
				color: get(main-color);
				&::before {
					width: 100%;
					opacity: 1;
				}
			}
			&::before {
				@include absolute(br, -10px, 0);
				background: crimson;
				content: "";
				width: 0;
				height: 2px;
				display: block;
				opacity: 0;
				transition: 0.5s ease-in-out;
			}
		}
	}
}

/* ============================================= Home ================================================ */
.Home {
	@include flex(auto, center);
	@include linear-background("../images/Home.png", (rgba(0, 0, 0, 0.1), rgba(220, 20, 60, 0.1)), cover, initial);
	width: 100vw;
	min-height: 100vh;
	position: relative;
	@include width(xsm) {
		@include flex(center, center);
	}
	.info {
		.info-header {
			color: get(light-text);
			font-size: 2.3rem;
			@include width(md) {
				font-size: 2rem;
			}
			@include width(sm) {
				font-size: 1.5rem;
			}
		}
		.info-name {
			color: get(white);
			font-size: 6rem;
			@include width(md) {
				font-size: 5rem;
			}
			@include width(sm) {
				font-size: 4rem;
			}
		}
		.info-jobs {
			@extend .info-header;
			margin-bottom: 50px;
		}
		.mybtn {
			background-color: get(main-color);
			@include width(sm) {
				padding: 5px 25px;
				font-size: 1.4rem;
			}
			&:hover {
				background-color: get(white);
				color: get(black);
			}
		}
	}
}

/* ============================================= About =============================================== */
.About {
	background: get(white);
	.about-category {
		@include flex(space-between, center);
		@include width(md) {
			flex-direction: column;
		}
		.left-section {
			width: 40%;
			text-align: left;
			@include width(md) {
				width: 80%;
			}
			img {
				width: 100%;
				display: block;
			}
		}
		.right-section {
			color: get(dark-text);
			width: 60%;
			line-height: 2;
			@include width(md) {
				width: 100%;
			}
			.about-content {
				.content-header {
					font-size: 3rem;
					@include width(sm) {
						font-size: 2rem;
					}
				}
				.content-description {
					color: get(light-text);
					font-size: 1.5rem;
					@include width(sm) {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

/* ============================================ Services ============================================= */
.Services {
	background: get(dark-bg);
	.services-category {
		@include flex(space-between, center);
		gap: 2rem;
		flex-wrap: wrap;
		.serve-box {
			background: #333;
			color: get(white);
			width: calc((100% / 3) - 2rem);
			min-height: 330px;
			text-align: center;
			padding: 50px 20px;
			cursor: pointer;
			box-shadow: get(box-shadow);
			transition: 0.5s ease-in-out !important;
			@include width(xmd) {
				width: calc((100% / 2) - 2rem);
			}
			@include width(md) {
				width: calc(100%);
			}
			&:hover {
				background: #444;
				transform: translateY(5px) !important;
				i {
					color: get(white);
				}
			}
			.serve-header {
				font-size: 2.5rem;
			}
			.serve-desc {
				color: get(light-text);
				padding-top: 10px;
				font-size: 1.5rem;
			}
			i {
				color: get(main-color);
				font-size: 50px;
				padding-bottom: 20px;
			}
		}
	}
}

/* ============================================ Skills =============================================== */
.Skills {
	background: get(white);
	.skills-category {
		@include flex(space-between, center);
		flex-wrap: wrap;
		gap: 1rem;
		.left-section {
			@include flex(center, flex-start);
			flex-direction: column;
			width: calc(50% - 1rem);
			@include width(md) {
				width: calc(100%);
			}
			.skills-header {
				color: get(main-color);
				font-size: 3.5rem;
				@include width(lg) {
					font-size: 3rem;
				}
				@include width(xmd) {
					font-size: 2.5rem;
				}
				@include width(md) {
					font-size: 2rem;
				}
				.title {
					padding-right: 20px;
				}
			}
			.skills-description {
				color: get(light-text);
				text-align: justify;
				padding: 10px 0;
				font-size: 1.6rem;
			}
			.read-more {
				.read-more-list {
					@extend .skills-description;
					transition: all 0.5s ease-in-out;
					max-height: 300px;
					overflow: hidden;
					padding: 0;
				}
				.read-more-btn {
					text-decoration: underline;
					font-size: 1.6rem;
					font-weight: bold;
					cursor: pointer;
					&:hover {
						color: get(dark-text);
					}
				}
			}
		}
		.right-section {
			width: calc(50% - 1rem);
			@include width(md) {
				width: calc(100%);
			}
			.box-row {
				width: 100%;
				padding-top: 20px;
				.Name {
					@include flex(space-between, center);
				}
				span {
					background: get(main-color);
					color: get(white);
					width: 50%;
					padding: 3px;
					text-align: center;
					display: block;
					transition: 1.5s ease-in-out;
				}
			}
		}
	}
}

/* ============================================ projects ============================================= */
.Projects {
	background: get(dark-bg);
	.projects-category {
		.category-title {
			color: get(light-text);
			font-size: 3.5rem;
			padding-top: 40px;
			@include width(md) {
				font-size: 3rem;
			}
			@include width(sm) {
				font-size: 2.5rem;
			}
		}
		.swiper-wrapper {
			margin-bottom: 20px;
			.project-box {
				background: linear-gradient(get(main-color), get(dark-bg));
				text-align: center;
				cursor: pointer;
				overflow: hidden;
				border: get(border);
				border-radius: 20px;
				position: relative;
				&:hover {
					.project-img {
						transform: scale(1.1);
						filter: brightness(1.5);
					}
					.project-overlay {
						top: 0;
					}
				}
				.project-content {
					.content-img {
						width: 100%;
						max-height: 165px;
						padding: 20px;
					}
					.content-title {
						color: get(light-text);
						padding-block: 15px 30px;
						font-size: 1.8rem;
						white-space: nowrap;
					}
				}
				.project-overlay {
					@include flex(center, center);
					@include absolute(tr, -100%, 0);
					width: 100%;
					height: 100%;
					transition: 0.3s ease-in-out !important;
					.overlay {
						@include absolute(tr, 0, 0);
						background: get(dark-bg);
						width: 100%;
						height: 100%;
						opacity: 0.7;
						z-index: 1;
					}
					.mybtn {
						border-radius: get(r2);
						z-index: 222;
					}
				}
			}
		}
	}
}

/* ============================================ Contact ============================================== */
.Contact {
	background: get(white);
	.contact-category {
		@include flex(space-between, center);
		gap: 1rem;
		flex-wrap: wrap;
		@include width(xmd) {
			flex-direction: column-reverse;
		}
		.left-section {
			width: calc(50% - 1rem);
			height: 100%;
			overflow: hidden;
			border-radius: 0 80px 0 80px;
			box-shadow: get(box-shadow);
			@include width(xmd) {
				width: 100%;
			}
			.map {
				width: 100%;
				min-height: 664px;
				display: block;
				border: 0;
				filter: invert(1);
				@include width(md) {
					min-height: 500px;
				}
				@include width(xmd) {
					min-height: 400px;
				}
			}
		}
		.right-section {
			background: get(dark-bg);
			width: calc(50% - 1rem);
			padding: 30px;
			text-align: center;
			box-shadow: get(box-shadow);
			border: 80px 0 80px 0;
			border-radius: 0 80px 0 80px;
			@include width(xmd) {
				width: 100%;
			}
			.content-header {
				color: get(white);
				font-size: 45px;
				padding-bottom: 30px;
				letter-spacing: 2px;
			}
			.my-form {
				.input-row {
					@include flex(space-between, center);
					background: #333;
					margin-block: 30px;
					overflow: hidden;
					border-radius: get(r2);
					border: get(border);
					.label-icon {
						color: get(white);
						font-size: 25px;
						padding: 0 10px;
					}
					.input-field {
						background-color: transparent;
						color: get(light-text);
						width: 100%;
						font-size: 20px;
						padding: 10px;
						display: inline-block;
					}
					textarea {
						@extend .input-field;
						height: 150px;
					}
				}
				.mybtn {
					width: 100%;
					border-radius: get(r2);
				}
			}
		}
	}
}

/* ============================================ Footer =============================================== */
footer {
	background-color: get(dark-bg);
	padding: 3rem 9% 1rem;
	.footer-category {
		@include grid(20rem);
		color: get(white);
		.box {
			.box-row {
				@include flex(auto, center);
				padding-block: 20px;
				cursor: pointer;
				&:hover {
					a {
						color: get(main-color);
						padding-left: 20px;
					}
					p {
						color: get(main-color);
						padding-left: 20px;
					}
					i {
						color: get(white);
					}
				}
				i {
					color: get(main-color);
				}
				.link {
					color: get(white);
					padding-left: 10px;
					font-size: 1.6rem;
					cursor: pointer;
				}
				.link {
					color: get(white);
					cursor: pointer;
				}
			}
		}
	}
	.Copy {
		color: get(white);
		text-align: center;
		padding-top: 20px;
		border-top: 1px solid rgba(170, 170, 170, 0.8);
		h1 {
			font-size: 2.5rem;
			@include width(md) {
				font-size: 2rem;
			}
			@include width(sm) {
				font-size: 1.6rem;
			}
			@include width(xsm) {
				font-size: 1.4rem;
			}
			span {
				font-size: 2.5rem;
				@include width(md) {
					font-size: 2rem;
				}
				@include width(sm) {
					font-size: 1.6rem;
				}
				@include width(xsm) {
					font-size: 1.4rem;
				}
			}
		}
	}
}

/* ======================================= Scroll & Live Chat ======================================== */
.scroller-btn {
	padding: 0;
	.Scroll {
		@include flex(center, center);
		@include fixed(br, 50px, 50px);
		background-color: white;
		color: crimson;
		width: 50px;
		height: 70px;
		font-size: 50px;
		z-index: 1000;
		box-shadow: 0 0 15px get(dark-text);
		border-radius: 50% 50% 23% 77% / 72% 80% 20% 28%;
		animation: UpDown 2s infinite ease-in-out;
		&:hover {
			background-color: crimson;
			color: white;
		}
		@include width(md) {
			width: 35px;
			height: 55px;
			font-size: 35px;
		}
		@include width(xsm) {
			width: 25px;
			height: 40px;
			font-size: 25px;
		}
	}
	.Scroll.fa-caret-down {
		border-radius: 85% 15% 53% 47% / 24% 22% 78% 76%;
	}
	.eapps-widget-toolbar .eapps-widget-toolbar-panel-share-block {
		display: none;
	}
}

.eapps-widget-toolbar .eapps-widget-toolbar-panel {
	@include width(xsm) {
		display: block !important;
	}
}
