@use "./helpers/" as *;

/* ============================================= Header ============================================== */
header {
	@include flex(space-between, center);
	@include fixed(tl, 0, 0);
	background: transparent;
	color: get(white);
	width: 100vw;
	padding: 20px;
	z-index: 1001;
	transition: 0.4s ease-in-out;
	&.active {
		background: get(dark-bg);
		padding-block: 30px;
		box-shadow: get(box-shadow);
	}
	.header-logo {
		@include flex(auto, center);
		gap: 1rem;
		.logo-img {
			width: 30px;
			@include width(sm) {
				width: 20px;
			}
		}
		.logo-title {
			color: get(white);
			font-size: 2.5rem;
			margin-bottom: 0;
			@include width(sm) {
				font-size: 2rem;
			}
		}
	}
	.header-icons {
		display: none;
		@include width(xmd) {
			display: inline-block;
		}
		.system-icon {
			margin-right: 10px;
		}
		.navbar-icon {
			@include width(sm) {
				font-size: 14px;
			}
		}
	}
	.header-navbar {
		z-index: 1000;
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
		.navbar-title {
			.navbar-icon {
				@include absolute(tr, 28px, 19px);
			}
			.navbar-img {
				display: none;
				@include width(xmd) {
					width: 100px;
					margin-inline: auto;
					display: block;
				}
			}
		}
		.navbar-system-icon {
			color: get(main-color);
			@include width(xmd) {
				display: none;
			}
		}
		.navbar-title {
			display: none;
			@include width(xmd) {
				color: get(white);
				font-size: 2rem;
				text-align: center;
				display: block;
			}
		}
		.navbar-link {
			color: get(light-text);
			font-size: 1.6rem;
			padding: 0 20px;
			position: relative;
			@include width(xmd) {
				margin-block: 20px;
				display: block;
				border-bottom: solid 0.3px #363535;
			}
			&:hover {
				color: get(main-color);
				&::before {
					width: 100%;
					opacity: 1;
				}
			}
			&.active {
				color: get(main-color);
				font-weight: bold;
				&::before {
					width: 100%;
					opacity: 1;
				}
			}
			&::before {
				@include absolute(br, -2px, 0);
				background: get(main-color);
				content: "";
				width: 0;
				height: 3px;
				display: block;
				opacity: 0;
				transition: 0.5s ease-in-out;
			}
		}
		@include width(xmd) {
			@include absolute(tr, 0, 0);
			background: get(dark-bg);
			height: 100vh;
			padding-top: 15px;
			transition: 0.3s ease-in-out;
			clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 0);
		}
		@include width(sm) {
			width: 100% !important;
		}
	}
	.system-section {
		@include absolute(tr, 0, 0);
		background: get(dark-bg);
		color: get(white);
		width: 300px;
		height: 100vh;
		overflow-y: auto;
		z-index: 1002;
		transition: 0.3s ease-in-out;
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
		@include width(sm) {
			width: 100%;
		}
		&::-webkit-scrollbar {
			width: 2px !important;
		}
		.system-title {
			text-align: center;
			font-size: 2.5rem;
			padding: 20px;
			.system-icon {
				@include absolute(tr, 15px, 15px);
			}
		}
		.system-theme {
			.nested-title {
				font-size: 2.3rem;
				padding: 10px 20px;
				position: relative;
				.system-title-icon {
					@include absolute(tr, 20px, 30px);
					font-size: 16px;
				}
			}
			.system-themes-list {
				max-height: 300px;
				overflow: hidden;
				transition: 0.4s ease-in-out !important;
				.theme-btn {
					font-size: 1.6rem;
					padding: 10px 25px;
					position: relative;
					&::after {
						@include absolute(tr, 25px, 30px);
						content: "";
						width: 10px;
						height: 10px;
					}
					&.light-red-theme {
						color: #e84118;
						&::after {
							background-color: #e84118;
						}
					}
					&.light-blue-theme {
						color: #00a8ff;
						&::after {
							background-color: #00a8ff;
						}
					}
					&.light-purple-theme {
						color: #9c88ff;
						&::after {
							background-color: #9c88ff;
						}
					}
					&.light-yellow-theme {
						color: #fbc531;
						&::after {
							background-color: #fbc531;
						}
					}
					&.light-green-theme {
						color: #4cd137;
						&::after {
							background-color: #4cd137;
						}
					}
					&.light-silver-theme {
						color: #7f8fa6;
						&::after {
							background-color: #7f8fa6;
						}
					}
					&.light-darkBlue-theme {
						color: #273c75;
						&::after {
							background-color: #273c75;
						}
					}
				}
			}
		}
		.system-font {
			.nested-title {
				font-size: 2.3rem;
				padding: 10px 20px;
				position: relative;
				.system-title-icon {
					@include absolute(tr, 20px, 30px);
					font-size: 16px;
				}
			}
			.system-fonts-list {
				max-height: 300px;
				overflow: hidden;
				transition: 0.4s ease-in-out !important;
				.font-btn {
					font-size: 1.6rem;
					padding: 10px 25px;
					position: relative;
					&.Cursive {
						font-family: cursive;
					}
					&.Poppins {
						font-family: "Poppins";
					}
					&.Caveat {
						font-family: "Caveat";
					}
					&.Cinzel {
						font-family: "Cinzel";
					}
					&.Dancing {
						font-family: "Dancing";
					}
					&.Montserrat {
						font-family: "Montserrat";
					}
				}
			}
		}
	}
}

/* ============================================= Home ================================================ */
.Home {
	@include flex(auto, center);
	@include linear-background("../images/Home.png", (rgba(0, 0, 0, 0.1), rgba(220, 20, 60, 0.1)), cover, initial);
	width: 100vw;
	min-height: 100vh;
	position: relative;
	@include width(xsm) {
		@include flex(center, center);
	}
	.info {
		.info-header {
			color: get(light-text);
			font-size: 2.3rem;
			@include width(md) {
				font-size: 2rem;
			}
			@include width(sm) {
				font-size: 1.5rem;
			}
		}
		.info-name {
			color: get(main-color);
			font-size: 6rem;
			@include width(md) {
				font-size: 5rem;
			}
			@include width(sm) {
				font-size: 4rem;
			}
		}
		.info-jobs {
			@extend .info-header;
			margin-bottom: 50px;
		}
		.mybtn {
			background-color: get(main-color);
			@include width(sm) {
				padding: 5px 25px;
				font-size: 1.4rem;
			}
			&:hover {
				background-color: get(white);
				color: get(black);
			}
		}
	}
}

/* ============================================= About =============================================== */
.About {
	background: get(white);
	.about-category {
		@include flex(space-between, center);
		@include width(md) {
			flex-direction: column;
		}
		.left-section {
			width: 40%;
			text-align: left;
			@include width(md) {
				width: 80%;
			}
			img {
				width: 100%;
				display: block;
			}
		}
		.right-section {
			color: get(dark-text);
			width: 60%;
			line-height: 2;
			@include width(md) {
				width: 100%;
			}
			.about-content {
				.content-header {
					font-size: 3rem;
					@include width(sm) {
						font-size: 2rem;
					}
				}
				.content-description {
					color: get(light-text);
					font-size: 1.5rem;
					@include width(sm) {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}

/* ============================================ Services ============================================= */
.Services {
	background: get(dark-bg);
	.services-category {
		@include flex(space-between, center);
		gap: 2rem;
		flex-wrap: wrap;
		.serve-box {
			background: #333;
			color: get(white);
			width: calc((100% / 3) - 2rem);
			min-height: 330px;
			text-align: center;
			padding: 50px 20px;
			cursor: pointer;
			box-shadow: get(box-shadow);
			transition: 0.5s ease-in-out !important;
			@include width(xmd) {
				width: calc((100% / 2) - 2rem);
			}
			@include width(md) {
				width: calc(100%);
			}
			&:hover {
				background: #444;
				transform: translateY(5px) !important;
				i {
					color: get(white);
				}
			}
			.serve-header {
				font-size: 2.5rem;
			}
			.serve-desc {
				color: get(light-text);
				padding-top: 10px;
				font-size: 1.5rem;
			}
			i {
				color: get(main-color);
				font-size: 50px;
				padding-bottom: 20px;
			}
		}
	}
}

/* ============================================ Skills =============================================== */
.Skills {
	background: get(white);
	.skills-category {
		@include flex(space-between, center);
		flex-wrap: wrap;
		gap: 1rem;
		.left-section {
			@include flex(center, flex-start);
			flex-direction: column;
			width: calc(50% - 1rem);
			@include width(md) {
				width: calc(100%);
			}
			.skills-header {
				color: get(main-color);
				font-size: 3.5rem;
				@include width(lg) {
					font-size: 3rem;
				}
				@include width(xmd) {
					font-size: 2.5rem;
				}
				@include width(md) {
					font-size: 2rem;
				}
				.title {
					padding-right: 20px;
				}
			}
			.skills-description {
				color: get(light-text);
				text-align: justify;
				padding: 10px 0;
				font-size: 1.6rem;
			}
			.read-more {
				.read-more-list {
					@extend .skills-description;
					transition: all 0.5s ease-in-out;
					max-height: 300px;
					overflow: hidden;
					padding: 0;
				}
				.read-more-btn {
					text-decoration: underline;
					font-size: 1.6rem;
					font-weight: bold;
					cursor: pointer;
					&:hover {
						color: get(dark-text);
					}
				}
			}
		}
		.right-section {
			width: calc(50% - 1rem);
			@include width(md) {
				width: calc(100%);
			}
			.box-row {
				width: 100%;
				padding-top: 20px;
				.Name {
					@include flex(space-between, center);
					color: get(black);
					font-size: 1.6rem;
					@include width(md) {
						font-size: 1.4rem;
					}
					@include width(sm) {
						font-size: 1.2rem;
					}
				}
				.progress-bar {
					background: linear-gradient(to right, get(main-color), get(light-text));
					color: get(white);
					width: 50%;
					padding: 3px;
					text-align: center;
					display: block;
					transition: 1.5s ease-in-out;
				}
			}
		}
	}
}

/* ============================================ projects ============================================= */
.Projects {
	background: get(dark-bg);
	.projects-category {
		.category-title {
			color: get(light-text);
			font-size: 3rem;
			padding-top: 40px;
			@include width(sm) {
				font-size: 2.3rem;
			}
		}
		.swiper-wrapper {
			margin-bottom: 25px;
			.project-box {
				background: linear-gradient(get(main-color), get(dark-bg));
				text-align: center;
				cursor: pointer;
				overflow: hidden;
				border-radius: 20px;
				box-shadow: get(box-shadow);
				position: relative;
				&:hover {
					.project-img {
						transform: scale(1.1);
						filter: brightness(1.5);
					}
					.project-overlay {
						top: 0;
					}
				}
				.project-content {
					.content-img {
						width: 100%;
						max-height: 165px;
						padding: 20px;
					}
					.content-title {
						color: get(light-text);
						padding-block: 15px 30px;
						font-size: 1.8rem;
					}
				}
				.project-overlay {
					@include flex(center, center);
					@include absolute(tr, -100%, 0);
					width: 100%;
					height: 100%;
					transition: 0.3s ease-in-out !important;
					.overlay {
						@include absolute(tr, 0, 0);
						background: get(dark-bg);
						width: 100%;
						height: 100%;
						opacity: 0.7;
						z-index: 1;
					}
					.mybtn {
						border-radius: get(r2);
						z-index: 222;
						@include width(xmd) {
							font-size: 1.4rem;
						}
						@include width(md) {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}

/* ============================================ Contact ============================================== */
.Contact {
	background: get(white);
	.contact-category {
		@include flex(space-between, center);
		gap: 1rem;
		flex-wrap: wrap;
		@include width(xmd) {
			flex-direction: column-reverse;
		}
		.left-section {
			width: calc(50% - 1rem);
			height: 100%;
			overflow: hidden;
			border-radius: 0 80px 0 80px;
			box-shadow: get(box-shadow);
			@include width(xmd) {
				width: 100%;
			}
			@include width(xsm) {
				border-radius: 0 50px 0 50px;
			}
			.map {
				width: 100%;
				min-height: 664px;
				display: block;
				border: 0;
				filter: invert(1);
				@include width(md) {
					min-height: 500px;
				}
				@include width(xmd) {
					min-height: 400px;
				}
			}
		}
		.right-section {
			background: get(dark-bg);
			width: calc(50% - 1rem);
			padding: 30px;
			text-align: center;
			box-shadow: get(box-shadow);
			border: 80px 0 80px 0;
			border-radius: 0 80px 0 80px;
			@include width(xsm) {
				border-radius: 0 50px 0 50px;
			}
			@include width(xmd) {
				width: 100%;
			}
			.contant-header {
				color: get(white);
				font-size: 4.5rem;
				padding-bottom: 30px;
				letter-spacing: 2px;
				@include width(md) {
					font-size: 4rem;
				}
				@include width(xsm) {
					font-size: 3rem;
				}
				@include width(sm) {
					font-size: 2.5rem;
				}
			}
			.my-form {
				.input-row {
					@include flex(space-between, center);
					background: #333;
					margin-block: 30px;
					overflow: hidden;
					border-radius: get(r2);
					border: get(border);
					@include width(xsm) {
						border-radius: get(r1);
					}
					.label-icon {
						color: get(white);
						font-size: 25px;
						padding: 0 10px;
						@include width(md) {
							font-size: 20px;
						}
						@include width(xsm) {
							font-size: 14px;
						}
						@include width(sm) {
							font-size: 10px;
						}
					}
					.input-field {
						background: transparent;
						color: get(light-text);
						width: 100%;
						font-size: 20px;
						padding: 10px;
						display: inline-block;
						@include width(md) {
							font-size: 16px;
							padding: 8px;
						}
						@include width(xsm) {
							font-size: 14px;
							padding: 6px;
						}
						@include width(sm) {
							font-size: 10px;
							padding: 5px;
						}
					}
					textarea {
						@extend .input-field;
						height: 150px;
						@include width(md) {
							height: 120px;
						}
						@include width(xsm) {
							height: 100px;
						}
						@include width(sm) {
							height: 80px;
						}
					}
				}
				.mybtn {
					width: 100%;
					border-radius: get(r2);
					@include width(md) {
						padding: 8px;
					}
					@include width(sm) {
						font-size: 10px;
						padding: 6px;
					}
				}
			}
		}
	}
}

/* ============================================ Footer =============================================== */
footer {
	background-color: get(dark-bg);
	padding: 3rem 9% 1rem;
	.footer-category {
		@include grid(20rem);
		color: get(white);
		.footer-box {
			.box-title {
				font-size: 2.3rem;
			}
			.box-row {
				@include flex(auto, center);
				padding-block: 20px;
				cursor: pointer;
				transition: 0.4s ease-in-out !important;
				&:hover {
					.link {
						color: get(main-color);
						padding-left: 20px;
						font-weight: bold;
					}
					i {
						color: get(white);
					}
				}
				i {
					color: get(main-color);
				}
				.link {
					color: get(light-text);
					padding-left: 10px;
					font-size: 1.6rem;
					cursor: pointer;
				}
			}
		}
	}
	.Copy {
		color: get(white);
		text-align: center;
		padding-top: 20px;
		border-top: 1px solid rgba(170, 170, 170, 0.8);
		h1 {
			font-size: 2.5rem;
			@include width(md) {
				font-size: 2rem;
			}
			@include width(sm) {
				font-size: 1.6rem;
			}
			@include width(xsm) {
				font-size: 1.4rem;
			}
			span {
				font-size: 2.5rem;
				@include width(md) {
					font-size: 2rem;
				}
				@include width(sm) {
					font-size: 1.6rem;
				}
				@include width(xsm) {
					font-size: 1.4rem;
				}
			}
		}
	}
}

/* ======================================= Scroll & Live Chat ======================================== */
.scroller-btn {
	padding: 0;
	.Scroll {
		@include flex(center, center);
		@include fixed(br, 50px, 50px);
		background-color: white;
		color: get(main-color);
		width: 50px;
		height: 70px;
		font-size: 50px;
		z-index: 1000;
		box-shadow: 0 0 15px get(light-text);
		border-radius: 50% 50% 23% 77% / 72% 80% 20% 28%;
		animation: UpDown 2s infinite ease-in-out;
		&:hover {
			background-color: crimson;
			color: white;
			box-shadow: 0 0 15px get(light-text);
		}
		@include width(md) {
			width: 35px;
			height: 55px;
			font-size: 35px;
		}
		@include width(xsm) {
			width: 25px;
			height: 40px;
			font-size: 25px;
		}
	}
	.Scroll.fa-caret-down {
		border-radius: 85% 15% 53% 47% / 24% 22% 78% 76%;
	}
	.eapps-widget-toolbar .eapps-widget-toolbar-panel-share-block {
		display: none;
	}
}

.eapps-widget-toolbar .eapps-widget-toolbar-panel {
	@include width(xsm) {
		display: block !important;
	}
}
