footer {
	background-color: $light-bg;
	padding: 5rem 9% 1rem;
	.Catagory {
		@include Grid(15rem);
		h1 {
			color: $black;
		}
		.row {
			width: 100%;
			padding: 10px;
			cursor: pointer;
			i {
				font-size: 20px;
				color: $pink;
			}
			a {
				color: $black;
			}
			&:hover {
				i {
					color: $black;
				}
				a {
					color: $pink;
				}
			}
		}
	}
	.Copyright {
		color: $black;
		text-align: center;
		border-top: $border;
		margin-top: 20px;
		@include Media768() {
			font-size: 10px;
		}
	}
}
